.todocard {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.todocard > * {
  flex: 0 0;
}

.todocard-hoveroption {
  position: absolute;
  top: 0.4rem;
  display: none;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
}
.todocard-hoveroption > div {
  background-color: darkcyan;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  padding: 0.5rem;
}

.todocard:hover .todocard-hoveroption {
  display: flex;
}

.todocard-statusicon {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex: 0 0 15%;
}
.todocard-statusicon > div {
  height: 100%;
  width: 1.5rem;
}

.todocard-select {
  position: absolute;
  bottom: 0.7rem;
  left: 0.7rem;
  background-color: white;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.todocard-title {
  font-size: xx-large;
}
.todocard-datetime {
  font-size: small;
}
.todocard-btn-mark {
  border-radius: 20px;
  font-size: small;
  padding: 5px;
  background-color: darkcyan;
  border: none;
  color: white;
}
.todocard-btn-mark:focus {
  outline: none;
}

.todocard-btn-delete:hover,
.todocard-btn-edit:hover,
.todocard-select:hover,
.todocard-btn-mark:hover,
.todocard-hoveroption > div:hover {
  box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.6);
}

.selected {
  box-shadow: 0 0 10px 10px grey;
}
.red-bg {
  background-color: red;
}
.completed {
  opacity: 0.5;
}
